/*ROOT-GRID SETTINGS*/
.rootgrid {
    max-width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat (4, auto);
    grid-template-areas:
        "headergrid headergrid headergrid headergrid"
        "navbargrid navbargrid navbargrid navbargrid"
        "maingrid maingrid maingrid maingrid"
        "footergrid footergrid footergrid footergrid";}
.headergrid {grid-area: headergrid;}
.navbargrid {grid-area: navbargrid;}
.maingrid {grid-area: maingrid;}
.footergrid {grid-area: footergrid;}


/*MAIN GRID*/
.main{
    background-color: rgba(238, 214, 108, 0.185);
    border-radius: 10px;
    box-shadow: 0 -3px 10px rgba(153, 143, 87, 0.596);
    padding: 1%;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2%;
    grid-template-areas:
        "formgrid mainpic";}
.formgrid {grid-area: formgrid;}
.mainpic {grid-area: mainpic;}


/*MAIN SETTINGS*/
.formgrid {
    background-color: rgba(238, 214, 108, 0.185);
    border-radius: 10px;
    box-shadow: 0 -3px 10px rgba(153, 143, 87, 0.596);
    padding: 1rem;
    margin: 2%;
    border-top: 2px inset rgba(238, 214, 108, 0.185);
    border-left: 2px inset rgba(94, 82, 33, 0.11);
    text-align: center;}

.inputs {
    width: 90%;
    height: 2rem;
    font-size: 1.2rem;
    text-align: left;
    padding: 0.5rem;
    margin: 0.5rem;
}
textarea{
    width: 90%;
    height: 2rem;
    font-size: 1.2rem;
    text-align: left;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 8rem;}


.mainpic {
    background-image: url(/images/contactimg2.jpg);
        background-size: cover;
    border-radius: 10px;
    box-shadow: 0 -3px 10px rgba(153, 143, 87, 0.596);
    padding: 1rem;
    margin: 2%;
    border-top: 2px inset rgba(238, 214, 108, 0.185);
    border-left: 2px inset rgba(94, 82, 33, 0.11);}

    /*MediaQuerry Tablet*/
@media all and (min-width: 600px) and (max-width: 1023px) {

header{
    display: none;
}
.rootgrid{
    max-width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat (4, auto);
    grid-template-areas: 
        "footergrid footergrid footergrid footergrid"
        "navbargrid navbargrid navbargrid navbargrid"
        "maingrid maingrid maingrid maingrid";}
.headergrid{grid-area: headergrid;}
.navbargrid{grid-area: navbargrid;}
.maingrid{grid-area: maingrid;}
.footergrid{grid-area: footergrid;}


.main{
    background-color: rgba(238, 214, 108, 0.185);
    border-radius: 10px;
    box-shadow: 0 -3px 10px rgba(153, 143, 87, 0.596);
    padding: 1%;
    margin: 2%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
    grid-template-areas: 
        "formgrid"
        "mainpic";}
.formgrid{grid-area: formgrid;}
.mainpic{grid-area: mainpic;}

.formgrid {
    background-color: rgba(238, 214, 108, 0.185);
    border-radius: 10px;
    box-shadow: 0 -3px 10px rgba(153, 143, 87, 0.596);
    padding: 1rem;
    margin: 2%;
    border-top: 2px inset rgba(238, 214, 108, 0.185);
    border-left: 2px inset rgba(94, 82, 33, 0.11);
    border-top-left-radius: 5px;}

    /*Cierre de MediaQuerry Tablet*/
}

    /*MediaQuerry Celular*/
@media all and (max-width: 599px) {
header{
    display: none;
}
nav{
    display: none;
}
.rootgrid{
    max-width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat (4, auto);
    grid-template-areas: 
        "footergrid footergrid footergrid footergrid"
        "navbargrid navbargrid navbargrid navbargrid"
        "maingrid maingrid maingrid maingrid";}
.headergrid{grid-area: headergrid;}
.navbargrid{grid-area: navbargrid;}
.maingrid{grid-area: maingrid;}
.footergrid{grid-area: footergrid;}


.main{
    background-color: rgba(238, 214, 108, 0.185);
    border-radius: 10px;
    box-shadow: 0 -3px 10px rgba(153, 143, 87, 0.596);
    padding: 1%;
    margin: 2%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
    grid-template-areas: 
        "formgrid"
        "mainpic";}
.formgrid{grid-area: formgrid;}
.mainpic{grid-area: mainpic;}

.formgrid {
    background-color: rgba(238, 214, 108, 0.185);
    border-radius: 10px;
    box-shadow: 0 -3px 10px rgba(153, 143, 87, 0.596);
    padding: 1rem;
    margin: 2%;
    border-top: 2px inset rgba(238, 214, 108, 0.185);
    border-left: 2px inset rgba(94, 82, 33, 0.11);
    border-top-left-radius: 5px;
}


    /*Cierre de MediaQuerry Celular*/
}