            /*ROOT-GRID SETTINGS*/
.rootgrid {
    max-width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat (4, auto);
    grid-template-areas:
        "headergrid headergrid headergrid headergrid"
        "navbargrid navbargrid navbargrid navbargrid"
        "container container container container"
        "footergrid footergrid footergrid footergrid";}
.headergrid {grid-area: headergrid;}
.navbargrid {grid-area: navbargrid;}
.container {grid-area: container;}
.footergrid {grid-area: footergrid;}


/* SECTION SETTINGS*/
.destacada{
    background-color: rgba(238, 214, 108, 0.185);
    border-radius: 10px;
    box-shadow: 0 -3px 10px rgba(153, 143, 87, 0.596);
    padding: 2%;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2fr auto;
    grid-gap: 2%;
    grid-template-areas: 
        "notadestacada1 notadestacada1"
        "notadestacada2 notadestacada3"
        "notadestacada4 notadestacada4"
}
.destacada>div {
    background-color: rgb(248, 231, 174);
    border-bottom: 2px solid rgb(201, 159, 23);
    border-right: 2px solid rgb(226, 195, 92);
    box-shadow: 0 2px 10px rgba(104, 104, 104, 0.8);
    border-radius: 10px;
    padding: 1rem;
}

.fuentenotadestacada {
    font-size: smaller;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*ARTICLE 1*/
.notadestacada1{
    grid-area: notadestacada1;
}
.article1{
    text-align: justify;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr auto;
    grid-template-rows: 6fr 2fr;
    grid-template-areas: 
    "notaimg1 nota1 nota1"
    "notaimg1 nota1 nota1"
    "notaimg1 . notabttn1"}
.nota1{grid-area:nota1;}

.notaimg1{
    background-image: url(../images/radio3.jpg);
    background-size: cover;
    grid-area: notaimg1;
    width: 100%;
    border-radius: 10px;
}
.notaimg1:hover{
    filter: blur(3px); 
    transition: 2s;
}
.notabttn1{
    grid-area:notabttn1;}

/*ARTICLE 2*/
.notadestacada2{
    grid-area: notadestacada2;
    text-align: justify;
}
.article2{
    text-align: justify;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 6fr auto;
    grid-template-areas: 
    "nota2 nota2"
    ". notabttn2"
}
.nota2{
    grid-area: nota2;
}
.notabttn2 {
    grid-area: notabttn2;}

/*ARTICLE 3*/
.notadestacada3{
    grid-area: notadestacada3;
}
.article3{
    text-align: justify;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 6fr auto;
    grid-template-areas: 
    "nota3 nota3"
    ". notabttn3"
}
.nota3 {
    grid-area: nota3;
}
.notabttn3 {
    grid-area: notabttn3;}

/*ARTICLE 4*/
.notadestacada4{
    grid-area: notadestacada4;
}
.article4{
    text-align: justify;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr auto;
    grid-template-rows: 6fr 2fr;
    grid-template-areas: 
    "notaimg4 nota4 nota4"
    "notaimg4 nota4 nota4"
    "notaimg4 . notabttn4"
}
.nota4{
    grid-area:nota4;
}
.notaimg4{
    background-image: url(../images/teatro.jpg);
    grid-area: notaimg4;
    width: 100%;
    border-radius: 10px;  
}
.notaimg4:hover{
    filter: grayscale(100%);
    transition: 3s;
}
.notabttn4{
    grid-area:notabttn4;}




    /*MediaQuerry Tablet*/
@media all and (min-width: 600px) and (max-width: 1023px) {

header{
    display: none;
}

.rootgrid{
    max-width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: repeat (3, auto);
    grid-template-areas: 
        "footergrid"
        "navbargrid"
        "container";}
.navbargrid{grid-area: navbargrid;}
.destacada{grid-area: container;}
.footergrid{grid-area: footergrid;}

.destacada {
    background-color: rgba(238, 214, 108, 0.185);
    border-radius: 10px;
    box-shadow: 0 -3px 10px rgba(153, 143, 87, 0.596);
    padding: 2%;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr auto;
    grid-gap: 2%;
    grid-template-areas:
        "notadestacada1"
        "notadestacada2" 
        "notadestacada3"
        "notadestacada4" }


    /*Cierre de MediaQuerry Tablet*/
}









    /*MediaQuerry Celular*/
@media all and (max-width: 599px) {
header{
    display: none;
}
nav{
    display: none;
}
.rootgrid {
    max-width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: repeat (3, auto);
    grid-template-areas:
        "footergrid"
        "navbargrid"
        "container";
}

.destacada {
    background-color: rgba(238, 214, 108, 0.185);
    border-radius: 10px;
    box-shadow: 0 -3px 10px rgba(153, 143, 87, 0.596);
    padding: 2%;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr auto;
    grid-gap: 2%;
    grid-template-areas:
        "notadestacada1"
        "notadestacada2"
        "notadestacada3"
        "notadestacada4"
}
.notaimg1, .notaimg4{
    display: none;
}

.article1{
    text-align: justify;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 2fr;
    grid-template-areas: 
    "nota1"
    "nota1"
    "notabttn1"}
.nota1{grid-area:nota1;}

.article4 {
    text-align: justify;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 2fr;
    grid-template-areas:
        "nota4"
        "nota4"
        "notabttn4";
}

    /*Cierre de MediaQuerry Celular*/
}